html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 15px rgba(0,1,1,0.2);
  box-shadow: 0 5px 15px rgba(0,1,1,0.2);
}

.page-header {
  margin: 0 72px;
}

.logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main-navigation {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 14px 0 16px;
  margin: 0;
  list-style: none;
}

.site-navigation li {
  -ms-flex-preferred-size: 240px;
      flex-basis: 240px;
}

.site-navigation li:nth-child(4n+2) {
  margin-right: 96px;
}

.site-navigation li:nth-child(4n+1),
.site-navigation li:nth-child(4n+2) {
  text-align: left;
  letter-spacing: 0.1px;
}

.site-navigation li:nth-child(4n+3),
.site-navigation li:nth-child(4n+4) {
  text-align: right;

}

.site-navigation li:nth-child(4n+3) {
  letter-spacing: 0.55px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-active a {
  color: #766357;
}

.intro {
  width: 100%;
  height: 508px;
  margin-bottom: 60px;
  background: url("../img/background-photo.jpg");
  background-position: 0 -56px;
  background-color: #81b3d2;
}

.mask {
  position: relative;
}

.mask::before {
  position: absolute;
  content: "";
  top: 451px;
  width: 1200px;
  height: 57px;
  background: url("../img/clipping-mask.png");
}

.slogan {
  max-width: 50%;
  margin: 0 auto 27px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.reasons {
  margin: 0 auto 51px;
  line-height: 26px;
  text-align: center;
}

.features {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features-image {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  max-width: 400px;
  padding: 46px 46px 10px;
  background-color: #81b3d2;
}

.features-image .subtitle {
  max-width: 50%;
  margin: 0 auto 25px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.features-image .reason {
  margin: 0px auto 21px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: 0.02px;
  text-align: center;
  color: #ffffff;
}

.features-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.features-item {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  min-height: 256px;
  padding: 47px 10px 10px 10px;
  background-color: #eeeeee;
}

.features-item .subtitle {
  max-width: 40%;
  margin: 0 auto 24px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.features-item .reason {
  max-width: 70%;
  margin: 0 auto 21px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}
 
.service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.service-item {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  padding-top: 161px;
  padding-right: 50px;
  padding-bottom: 82px;
  padding-left: 50px;
  text-align: center;
}

.service-item:first-child {
  background-image: url(../img/icon-1.svg);
  background-position: 162px 60px;
  background-repeat: no-repeat;
}

.service-item:nth-child(2) {
  background-image: url(../img/icon-3.svg);
  background-position: 158px 61px;
  background-repeat: no-repeat;
}

.service-item:last-child {
  background-image: url(../img/icon-2.svg);
  background-position: 168px 56px;
  background-repeat: no-repeat;
}

.service-item h3 {
  margin: 0;
  margin-bottom: 24px;
  font-size: 21px;
  color: #000000;
}

.service-item .promo {
  margin: 0;
}

.search-hotels {
  position: relative;
  z-index: 2;
  padding-top: 50px;
  text-align: center;
  background-color: #ffffff;
}

.search-hotels b {
  display: inline-block;
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}


.search-hotels p {
  margin:0;
  margin-bottom: 47px;
  font-size: 14px;
  line-height: 24px;
}

.map {
  position: relative;
}

.map img {
  position: absolute;
  z-index: 0;
  margin: 0;
}

.map iframe {
  position: absolute;
  z-index: 1;
  border: none;
}

.button {
  font: inherit;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.brown-button {
  background-color: #766357;
}

.brown-button:hover,
.brown-button:focus {
  background-color: #604e43;
}

.brown-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.modal-button {
  width: 568px;
  padding: 30px;
  font-size: 21px;
  line-height: 26px;
}

.index-zero {
  position: relative;
  z-index: 0;
  width: 568px;
  min-height: 395px;
  margin: 0 auto;
  margin-bottom: 78px;
}

.search-hotels-form {
  position: relative;
  z-index: 1;
  width: 568px;
  min-height: 395px;
  margin: 0 auto;
  margin-bottom: 78px;
}

.hotels-form-hidden {
  display: none;
}

.hotels-form-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 55px;
  background-color: #ffffff;
  animation: slide 0.3s;
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  25% {
    transform: translateY(-75%);
  }
  50% {
    transform: translateY(-50%);
  }
  75% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(0);
  }
}

.search-hotels-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.search-hotels-item label {
  letter-spacing: 0.02em;
}

.search-hotels-item input {
  display: inline-block;
  width: 346px;
  height: 38px;
  padding: 5px 55px 5px 13px;
  margin-left: auto;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
}

.calendar {
  position: absolute;
  right: 3px;
  top: 7px;
  fill: #cacaca;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.calendar:hover,
.calendar:focus {
  fill: #000000;
}

.calendar:active {
  fill: #81b3d2;
}

.half-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0;
  margin-bottom: 55px;
}

.half-width label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  margin-right: auto;
}

.hotels-form-visible p:nth-child(3){
  padding-right: 4px;
}

.hotels-form-visible p:nth-child(4){
  padding-left: 50px;
}

.quantity {
  display: inline-block;
  width: 38px;
  height: 38px;
  text-align: center;
  vertical-align: top;
  padding: 6px;
  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  background-color: #f2f2f2;
}

.hotels-form-visible input:hover {
  background-color: #ebebeb;
}

.hotels-form-visible input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: none;
}

.button-less-more {
  width: 38px;
  height: 38px;
  padding-bottom: 1px;
  font-size: 25px;
  font-weight: 700;
  color: #a9a9a9;
  background-color: #f2f2f2;
}

.button-less-more:hover,
.button-less-more:focus {
  color: #000000;
}

.button-less-more:active {
  color: #81b3d2;
}

.blue-button {
  background-color: #81b3d2;
}
 
.blue-button:hover,
.blue-button:focus {
  background-color: #669ec0;
}

.blue-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.modal-blue-button {
  width: 458px;
  font-size: 21px;
  line-height: 26px;
  padding: 16px;
}

.left-column {
  margin-right: auto;
  max-height: 73.5px;
}

.left-column .blue-button,
.right-column .brown-button{
  display: block;
  margin-top: 14px;
  padding: 3px 17px;
}

.hotel-title a {
  color: #000000;
}

.hotel-title a:hover,
.hotel-title a:focus {
  color: #81b3d2;
}

.hotel-title a:active {
  color: #cacaca;
}

.page-footer {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.9)
}

.visit-sedona{
  padding: 46px 133px 48px;
  padding-bottom:48px;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 123px;
  padding-right: 223px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path{
  opacity: 0.3;
}

.footer-copyright {
  padding-top: 40px;
}

.logo-academy {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
  outline: none;
}

.footer-copyright svg {
  width: 115px;
  height: 42px;
  vertical-align: middle;
}

 .logo-academy:hover path,
 .logo-academy:focus path{
    fill: #81b3d2;
}

.logo-academy:active path {
  fill: #bdbbbc;
}

.search-filtres-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 217px;
  padding-top: 27px;
  padding-bottom: 5px;
  padding-left: 72px;
  background: url(../img/filter-background.jpg) 0 -55px no-repeat #81b3d2;
  background-size: cover;
}

.filtres-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 41px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
}

input[type="checkbox"] + label::after {
  position: absolute;
  display: none;
  content: "";
  top: 0px;
  left: 0px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
}

input[type="checkbox"]:checked + label::before {
  display: none;
}

input[type="checkbox"]:checked + label::after {
  display: block;
}

.search-filtres-form fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.search-filtres-form fieldset:first-child {
  margin-right: 119px;
}

.sort-type {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.search-result {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}


.found {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-left: 72px;
  margin-right: 44px;
  color: #000000;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.sort-type a {
  margin-left: 29px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-type a:hover,
.sort-type a:focus {
  color: #81b3d2;
}

.sort-type a:active {
  color: #000000;
}

.sort-type .sort-type-active {
  margin-left: 36px;
  color: #81b3d2;
  border: none;
}

.search-result-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 30px 72px;
  border-bottom: 1px solid #f2f2f2;
}

.search-filtres-form legend {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filter-range {
  width: 318px;
  margin-left: 347px;
  color: #ffffff;
}

.filter-range-title {
  margin-bottom: 10px;
  margin-left: 1px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.01em;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50.5%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

}

.price-controls label {
  display: inline-block;
  padding-top: 5px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 146px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: ;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
  margin-left: 1px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  box-sizing: content-box;
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px rgba(171, 171, 171, 0.3);
          box-shadow: 0 2px 2px rgba(171, 171, 171, 0.3);
  cursor: pointer;
}

.range-toggle:hover {
  transform: scale(1.1);
}

.range-toggle-min {
  left: 0px;
}

.range-toggle-max {
  left: 79.5%;
}

.button-transparent {
  display: block;
  margin: 0 auto;
  margin-left: 85px;
  padding: 6px 33px 5px 34px;
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.button-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.arrows {
  display: inline-block;
  padding-left: 501px;
}

.sort-type .arrow {
  margin: 0;
  margin-right: 8px;
  border-bottom: none;
}

.arrow-down-active path {
  fill: #81b3d2;
}

.arrow:hover path,
.arrow:focus path {
  fill: #000000;
}

.arrow:active path {
  fill: #81b3d2;
}

.hotel-title {
  margin: 0;
  margin-top: -5px;
  margin-bottom: -5px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-info {
  display: flex;
  flex-basis: 258px;
  flex-wrap: wrap;
  margin-left: 31px;
}

.hotel-info p{
  margin: 0;
  margin-top: 11px
}

.raiting {
  width: 110px;
  height: 27px;
  padding: 4px 10px 7px;
  margin: 0;
  text-align: center;
  color: #666666;
  background: #f2f2f2;
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
}

.stars li {
  width: 18px;
  height: 17px;
  margin-left: 5px;
  background-image: url(../img/star.svg);
  list-style: none;
}
.raiting-value {
  display: flex;
  flex-basis: 110px;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-left: auto;
}