html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase; 
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0,1,1,0.2);
}

.page-header {
  margin: 0 72px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-navigation {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  min-height: 56px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation li {
  flex-basis: 240px;
}

.site-navigation li:nth-child(4n+2) {
  margin-right: 96px;
}

.site-navigation li:nth-child(4n+1),
.site-navigation li:nth-child(4n+2) {
  text-align: left;
}

.site-navigation li:nth-child(4n+3),
.site-navigation li:nth-child(4n+4) {
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-active a {
    color: #766357;
}

.intro {
  width: 100%;
  height: 508px;
  margin-bottom: 60px;
  background: url("../img/background-photo.jpg");
  background-position: 0 -56px;
  background-color: #81b3d2;
}

.mask {
  position: relative;
}

.mask::before {
  position: absolute;
  content: "";
  top: 451px;
  width: 1200px;
  height: 57px;
  background: url("../img/clipping-mask.png");
}

.slogan {
  max-width: 50%;
  margin: 0 auto 27px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.reasons {
  margin: 0 auto 51px;
  line-height: 26px;
  text-align: center;
}

.features {
  display: flex;
}

.features-image {
  flex-basis: 400px;
  padding-top: 47px;
  padding-right: ;
  padding-bottom: ;
  padding-left: ;
  background-color: #81b3d2;
}

.features-image .subtitle {
  max-width: 50%;
  margin: 0 auto;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.features-image .reason {
  max-width: 77%;
  margin: 22px auto;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.features-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.features-item {
  flex-basis: 400px;
  height: 256px;
  margin-bottom: 50px;
  background-color: #eeeeee;
}

.features-item .subtitle {
  max-width: 40%;
  margin: 47px auto 24px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.features-item .reason {
  max-width: 70%;
  margin: 21px auto;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}
 
.service-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-item {
  flex-basis: 400px;
  padding-top: 161px;
  padding-right: 50px;
  padding-bottom: 82px;
  padding-left: 50px;
  text-align: center;
}

.service-item:first-child {
  background-image: url(../img/icon-1.svg);
  background-position: 162px 60px;
  background-repeat: no-repeat;
}

.service-item:nth-child(2) {
  background-image: url(../img/icon-3.svg);
  background-position: 158px 61px;
  background-repeat: no-repeat;
}

.service-item:last-child {
  background-image: url(../img/icon-2.svg);
  background-position: 168px 56px;
  background-repeat: no-repeat;
}

.service-item h3 {
  font-size: 21px;
  margin: 0;
  margin-bottom: 24px;
  color: #000000;
}

.service-item .promo {
  margin: 0;
}

.search-hotels {
  text-align: center;
}

.search-hotels b {
  display: inline-block;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 24px;
  color: #000000;
}


.search-hotels p {
  font-size: 14px;
  line-height: 24px;
  margin:0;
  margin-bottom: 47px;
}

.map {
  position: relative;
}

.map img {
  position: absolute;
  z-index: 0;
}

.button {
  font: inherit;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}


.brown-button {
  background-color: #766357;
}

.brown-button:hover,
.brown-button:focus {
  background-color: #604e43;
}

.brown-button:active {
  background-color: #503e33;
}

.modal-button {
  width: 568px;
  font-size: 21px;
  line-height: 26px;
  padding: 30px;
}

.search-hotels-form {
  position: relative;
  z-index: 1;
  width: 568px;
  padding-top: 55px;
  padding-right: 55px;
  padding-bottom: px;
  padding-left: 55px;
  margin: 0 auto;
  margin-bottom: 78px;
  background-color: #ffffff;
}

.hotels-form-visible {
  display: flex;
  flex-wrap: wrap;
}

.search-hotels-item {
  position: relative;
  display: flex;
  flex-basis: 100%;
  align-items: baseline;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 29px;
}

.search-hotels-item label {
  letter-spacing: 0.02em;
}

.search-hotels-item input {
  display: inline-block;
  width: 346px;
  height: 38px;
  padding: 13px;
  margin-left: auto;
  border: none;
  background-color: #f2f2f2;
}

.calendar {
  position: absolute;
  right: 3px;
  top: 7px;
  fill: #cacaca;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.calendar:hover,
.calendar:focus {
  fill: #000000;
  outline: none;
}

.calendar:active {
  fill: #81b3d2;
}

.half-width {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  font-size: 0;
  margin-bottom: 55px;
}

.half-width label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  margin-right: auto;
}

.hotels-form-visible p:nth-child(3){
  padding-right: 4px;
}

.hotels-form-visible p:nth-child(4){
  padding-left: 50px;
}

.quantity {
  display: inline-block;
  width: 38px;
  text-align: center;
  vertical-align: top;
  padding: 6px;
  font-family: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  background-color: #f2f2f2;
}

.hotels-form-visible input:hover {
  background-color: #ebebeb;
}

.hotels-form-visible input:focus {
  background-color: #ffffff;
}

input::placeholder {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase; 
}

.button-less-more {
  width: 38px;
  height: 38px;
  padding-bottom: 1px;
  font-size: 25px;
  font-weight: 700;
  color: #a9a9a9;
  background-color: #f2f2f2;
}

.button-less-more:hover,
.button-less-more:focus {
  color: #000000;
}

.button-less-more:active {
  color: #81b3d2;
}

.blue-button {
  background-color: #81b3d2;
}
 
.blue-button:hover,
.blue-button:focus {
  background-color: #669ec0;
}

.blue-button:active {
  background-color: #5496bd;
}

.modal-blue-button {
  width: 458px;
  font-size: 21px;
  line-height: 26px;
  padding: 16px;
  margin-bottom: 55px;
}

.hotel-title a {
  color: #000000;
}

.hotel-title a:hover,
.hotel-title a:focus {
  color: #81b3d2;
}

.hotel-title a:active {
  color: #cacaca;
}

.page-footer {
  position: relative;
  z-index: 1;
  display: flex;
  background-color: rgba(255, 255, 255, 0.9)
}

.visit-sedona{
  padding: 46px 133px 48px;
  padding-bottom:48px;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  display: flex;
  align-items: center;
  padding-left: 123px;
  padding-right: 223px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.footer-copyright {
  padding-top: 40px;
}

.footer-copyright a {
  vertical-align: middle;
  margin-left: 2px;
  outline: none;
}

.footer-copyright svg {
  width: 115px;
  height: 42px;
  vertical-align: middle;
}

.footer-copyright a:hover path,
.footer-copyright a:focus path{
    fill: #81b3d2;
}

.footer-copyright a:active {
    fill: #000000;
    opacity: 0.3;
}

.footer-copyright > a {
  display: inline-block;
  vertical-align: middle;
}

.search-filtres-form {
  display: flex;
  width: 100%;
  height: 217px;
  padding-top: 27px;
  padding-bottom: 5px;
  padding-left: 72px;
  background: url(../img/filter-background.jpg) 0 -55px no-repeat #81b3d2;
  background-size: cover;
}

.filtres-wrap {
  display: flex;
  flex-direction: column;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 41px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
}

input[type="checkbox"]:checked + label::after {
  position: absolute;
  display: block;
  content: "";
  top: 0px;
  left: 0px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
}

.search-filtres-form fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.search-filtres-form fieldset:first-child {
  margin-right: 119px;
}

.sort-type {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;

  border-bottom: 1px solid #e5e5e5;
}

.search-result {
  display:flex;
  flex-wrap: wrap;
}


.found {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-left: 72px;
  margin-right: 44px;
  color: #000000;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.sort-type a {
  margin-left: 29px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sort-type a:hover,
.sort-type a:focus {
  color: #81b3d2;
}

.sort-type a:active {
  color: #000000;
}

.sort-type .sort-type-active {
  margin-left: 36px;
  color: #81b3d2;
  border: none;
}

.search-result-item {
  display: flex;
  flex-basis: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f2f2f2;
}

.search-result-item img{
  margin-left: 6%;
}


legend {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}


.filter-range {
  width: 318px;
  margin-left: 347px;
  color: #ffffff;
}

.filter-range-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.01em;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);

}

.price-controls label {
  display: inline-block;
  padding-top: 4px;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 146px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: ;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -10px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 10px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}


.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-transparent {
  display: block;
  margin: 0 auto;
  margin-left: 84px;
  padding: 5px 32px 5px 35px;
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.button-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.arrows {
  display: inline-block;
  padding-left: 501px;
}

.sort-type .arrow {
  margin: 0;
  margin-right: 8px;
  border-bottom: none;
}

.arrow-down-active path {
  fill: #81b3d2;
}
.hotel-info .hotel-title {
  margin: 0;
  margin-bottom: -7px;
}

.hotel-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}



.hotel-info {
  margin-top: -5px;
  margin-left: 31px;
  
}





.raiting {
  width: 110px;
  height: 27px;
  padding: 5px 10px;
  color: #666666;
  background: #f2f2f2;
}

.stars ul {
  display: flex;
}

.stars li {
  width: 18px;
  height: 17px;
  margin-left: 6px;
  background-image: url(../img/star.svg);
  list-style: none;
}
